@import url("https://fonts.googleapis.com/css2?family=Caudex&family=Darker+Grotesque&family=Gruppo&display=swap");

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

body {
  font-family: "Caudex";
}
.wrapper {
  display: flex;
  margin: 60px auto;
  width: 90%;
  background-color: wheat;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header {
  background-color: cadetblue;
  padding: 10px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Gruppo", cursive;
  text-shadow: 2px 2px 3px grey;
}
.datetime {
  margin-right: 15px;
  float: right;
  font-family: "Caudex", sans-serif;

  color: grey;
}
section {
  display: grid;
  grid-template-columns: 45vw 40vw;
  color: gray;
  margin-top: 50px;
  margin-bottom: 50px;
}
.current {
  text-align: center;
  text-transform: capitalize;
  color: black;
}

#temp {
  font-size: 80px;
  text-transform: lowercase;
}

.forecast {
  margin-top: 50px;
}

.forecast div {
  border-bottom: 1px solid grey;
}

.forecast p {
  margin-bottom: 10px;
  font-size: large;
}

#r1c2,
#r2c2,
#r3c2 {
  color: black;
}
#name {
  font-weight: 600;
  font-size: x-large;
}
span {
  margin-right: 40px;
}
footer {
  background-color: cadetblue;
  padding: 20px;
  text-align: center;
}

@media (max-width: 850px) {
  .wrapper {
    width: 100%;
    margin: 0px;
  }

  main {
    height: 100%;
  }
  section {
    grid-template-columns: auto;
    grid-row-gap: 75px;
    justify-content: center;
  }

  .forecast {
    margin-top: 20px;
  }

  .current {
    margin-top: 20px;
  }
}

@media (max-width: 540px) {
  main {
    height: 100vh;
  }
}
